/* tablet-mobile */

@media (max-width:1023px) {
    .hide-tablet-mobile {
        display: none;
    }
    .responsive-topheader {
        display: block;
    }
    .header__mobile-nav {
        display: block;
    }
    .title {
        margin-bottom: 0px;
        display: inline;
        font-size: 2.5rem;
    }
    .mobile__tablet-title-icon-link {
        font-size: 2.5rem;
        line-height: 1;
    }
    .mobile__tablet-title-icon {
        display: inline;
        padding: 8px 0px;
    }
    .mobile__tablet-show:hover .mobile__tablet-title-body {
        display: block;
    }
    .active-title {
        background: #337ab7;
    }
    .active-title>a {
        color: #fff;
    }
    .container--background-image__img {
        padding: 12px 0px 0px 0px;
    }
    .contact-icon {
        padding: 11px 18px;
    }
}


/* Tablet */

@media (min-width:740px) and (max-width:1023px) {
    .hide-tablet {
        display: none;
    }
    /* ...................... */
    .product-view-img--link {
        width: 50%;
    }
    .product__view--body-content {
        width: 50%;
    }
    .grid.wide {
        padding-left: 15px;
        padding-right: 15px;
    }
    .col {
        padding-left: 0;
        padding-right: 0;
    }
    .product__posts-heading::before,
    .product__view-heading::before {
        width: 62%;
        right: 92px;
        top: 15px;
    }
    .betweenheader-item {
        padding: 0px 30px;
    }
}


/* mobile */

@media (max-width :739px) {
    .hide-moblie {
        display: none;
    }
    .product__view--body-item {
        height: 195px;
        justify-content: flex-start;
        display: flex;
        padding-left: 10px;
    }
    .betweenheader-logo {
        margin: 0 auto;
        display: block;
    }
    .betweenheader-container {
        display: block;
    }
    .betweenheader-item-innner {
        justify-content: space-between;
        margin-top: 30px;
    }
    .row-own.container__banner-item-right-row-bottom,
    .container__product-item.container--background-image.row-own,
    .container__product-item-list--img.row-own,
    .wrap-container-banner.row-own,
    .container__banner {
        display: inline;
    }
    .column-2 {
        width: auto;
    }
    .container__banner-item-right-2,
    .container__banner-item-left,
    .container__product-item-fist--img,
    .container__product-item-img-second--img,
    .container__product-item-third--img,
    .container__product-item-third--img-,
    .container__banner-item-right-1 {
        margin-bottom: 30px;
    }
    .container__product-item-img-second,
    .container__product-item-third,
    .container__banner-item-right-row-bottom {
        text-align: center;
    }
    .product__posts-heading::before,
    .product__view-heading::before {
        width: 41%;
        top: 16px;
    }
    .footer-body-sub-btn {
        margin-bottom: 12px;
    }
    .container__product-sub {
        margin-bottom: 12px;
    }
    .container__banner-item-right-2::before {
        left: 9px;
    }
    .container__banner-item-right-2::after {
        right: 9px;
    }
    .container__product-item-img-second::after {
        height: 91%;
        left: 21px;
        width: 87%;
    }
    .container__product-item-third::before {
        left: 25px;
        bottom: 35px;
    }
    .container__product-item-third::after {
        right: 25px;
        bottom: 36px;
    }
    .after-2 {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 85%;
        display: none;
    }
    .container__product-item-fist::before {
        bottom: 49px;
        left: 20px;
        right: 20px;
        top: 10px;
    }
    .container__product-item-fist::after {
        bottom: 49px;
        left: 19px;
        right: 18px;
        top: 11px;
    }
}